{% extends "base.html" %}
{% load static %}

{% block title %}
My Blog 
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock css_files %}

{% block content %}
<header id="main-navigation">
  <h1><a href="">Seraj's Blog</a></h1>
  <nav>
    <a href="">All Posts</a>
  </nav>
</header>
<section id="welcome">
  <header>
    <img src="{% static "blog/images/seraj.jpeg" %}" alt="Seraj - The Author Of This Blog" />
    <h2>Seraj's Blog</h2>
  </header>
  <p>Hi, I'm Seraj and I love to blog about tech and the world!</p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>

  <ul>
    <li>
      <article class="post">
        <a href="">
          <img src="{% static "blog/images/mountains.jpg" %}" alt="Mountain Hiking" />
          <div class="post__content">
            <h3>Mountain Hiking</h3>
            <p>
              There's nothing like the views you get when hiking in the
              mountains! And I wasn't even prepared for what happened whilst I
              was enjoying the view!
            </p>
          </div>
        </a>
      </article>
    </li>
  </ul>
</section>

<section id="about">
  <h2>What I do</h2>
  <p>
    I love programming, I love to explore new technologies in web developement
    field!
  </p>
  <p>My goal is to keep on growing as a web developer.</p>
</section>
{% endblock content %}
